<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="http://code.jquery.com/jquery-1.8.0.min.js" type="text/javascript"></script>
</head>
<body>
  Let's send a Text
  <form action="/send" method = "post" name="message">
    <input type="text" class="sms" name="message" /><button>Submit</button>
  </form>

  <script type="text/javascript">
    $("button").click(function(){
        console.log($(".sms").val());
    });
  </script>
</body>
</html>
